@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}
<form asp-controller="Products" asp-action="Index">
    Category: <input type="text" name="category">
    Rating: <input type="number" name="rating">
    Price >= : <input type="number" name="price">
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
@foreach (var product in Model)
{
    <div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@product.Image" alt="Picture of @product.Name">
                <div class="caption">
                    <h3 class="pull-right">@product.Price.ToString("c")</h3>
                    <p>@product.Description</p>
                </div>
            </div>
        </div>        
    </div>
}
